.luarc.json
nvim/lazy-lock.json
tmux/plugins
.vim/.netrwhist
.vim/plugged/*
waybar/colors-waybar.css
/emacs/eln-cache/
/emacs/elpaca/
/emacs/projectile-bookmarks.el
/emacs/projectile-bookmarks.eld
emacs/.local/harpoon
emacs/racket-mode
emacs/transient
emacs/.lsp-session-v1
discord-flags.conf
emacs/elpa
emacs/projects
emacs/auto-save-list
emacs/eshell/history
emacs/eshell/lastdir
emacs/custom-file.el
nvim/snippets/odin.lua
/mako/config
/waybar/colors-waybar.css
emacs/projectile.cache
mako/config
waybar/colors-waybar.css
